extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                Blockquote Praesent sed libero auctor metus auctor ultricies eu in mi. In leo mi, finibus non egestas sit amet, volutpat sed justo. Quisque sit amet iaculis ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed sed interdum lorem, et maximus eros. Sed ut sem felis. Etiam cursus arcu vel massa commodo malesuada.
                p Vivamus ac nisi sem. Proin tristique condimentum ex in malesuada. Pellentesque elementum porttitor ipsum. Nam nec velit vitae magna efficitur scelerisque in ac lorem. Duis a euismod lectus, nec placerat eros. Vivamus gravida mattis tristique. Nam nec leo id orci lacinia tempus. Mauris ac sem a est dapibus volutpat. Suspendisse pellentesque placerat tellus nec fringilla. Morbi tincidunt, magna a sollicitudin congue, erat mi sollicitudin dolor, eu ornare dui tortor sed est. 
                p Ut dapibus est sed urna fermentum eleifend. In hac habitasse platea dictumst. Aliquam nec scelerisque nibh. Donec vitae tortor a nisl mollis bibendum nec at tortor. Nam urna velit, accumsan sed augue euismod, dapibus ultricies nisl. Sed nec turpis finibus, porta lorem rutrum, placerat leo. Suspendisse sem nisi, vulputate a sagittis ultrices, fermentum mollis leo. Fusce libero tortor, volutpat eu magna eu, semper euismod dolor. Ut nulla nisi, gravida id varius ut, faucibus id eros. Nulla at nisi quis lorem luctus efficitur. Mauris gravida ac felis eu pretium.


    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Ut dapibus est sed urna fermentum eleifend. In hac habitasse platea dictumst. Aliquam nec scelerisque nibh. Donec vitae tortor a nisl mollis bibendum nec at tortor. 
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Ut dapibus est sed urna fermentum eleifend. In hac habitasse platea dictumst. Aliquam nec scelerisque nibh. Donec vitae tortor a nisl mollis bibendum nec at tortor.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Ut dapibus est sed urna fermentum eleifend. In hac habitasse platea dictumst. Aliquam nec scelerisque nibh. Donec vitae tortor a nisl mollis bibendum nec at tortor.
                

    