footer.container 
    .row 
        .col-md-6 
            nav.justify-content-center.justity-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes 
                a.nav-link(href="/testimoniales") Opiniones 
        .col
            p.copyright.test-center.text-md-right 
                | Todos los derechos reservados 
                span= actualYear